rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /calendar/admin/events/{eventId} {
      allow read, write: if true;
    }
  }
}
